@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Vazir", Arial, sans-serif;
}

@layer components {
  .C-container {
    @apply max-w-screen-xl xl:px-0 sm:px-5 px-3;
  }
  .C-article-text-line {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
